body {
  font-family: 'Lato', sans-serif;
}

#wrapper {
  margin: auto;
  max-width: 1440px; min-width: 560px; width: 75vw;
}
#time { 
  font-size: 60px;
  font-weight: 300;
  height: 100px;
  margin: auto;
  text-align: center;
  width: 30%;
}

#time span { 
  float: left;
}

#tracking-buttons {
  margin: 1em auto 2em;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

.tracking, .pause {
  width: 49%;
  color:  #666;
  height: 50px;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
  line-height: 3em;
  cursor: pointer;
}
.tracking {
  float: left;
}
.pause {
  float: right;
}

.tracking:hover, .pause:hover, #tracking-buttons .active {
  color:  #fff;
  background-color: #31d1ff;
}

.disabled {
  background: #aaa;
}

.disabled:hover {
  background: #aaa;
  cursor: not-allowed;
  color:  #666;
}

#entries {
  width: 100%;
}

#single-entry{
  margin: 1em;
  padding: 2em;
  line-height: 1.2em;
}

#single-entry span { 
  margin-left: 0.2em;
  margin-right: 0.2em;
}

/* Inputs */
#project-input {
  margin: 3em auto;
  text-align: center;
  width: 30%;
}

input {
  background: none repeat scroll 0 0 transparent;
  float: left;
  font-size: 1.9em;
  font-weight: 300;
  height: 40px;
  margin: auto;
  margin-bottom: 0.5em;
  width: 100%;
}

.radius-2px {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.shadow-soft{
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.border {
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bbb;
}

.bottom-border {
  border: none;
  border-bottom: 1px solid #bbb;
}
.bottom-border:hover {
  border: none;
  border-bottom: 1px solid #31d1ff;
}

.no-border {
  border: none;
  border-top: none;
  border-bottom: none;
}

#simple-modal {
  background: none repeat scroll 0 0 #ffffff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin-top: -35vmin;
  width: 46vmax;
}
.simplemodal-overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.inner {
  padding: 1.5vmax;
}

/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    /*display: inline-block;*/
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}